<!DOCTYPE html>
<html lang="he">

<head>
    <meta charset="UTF-8">
    <title>התחברות</title>
</head>

<body>
    <h1>כניסה</h1>
    <form action="/login" method="post">
        <label>שם משתמש:</label>
        <input type="text" name="uname" required><br>
        <label>סיסמה:</label>
        <input type="password" name="passwd" required><br>
        <button>כניסה</button>
    </form>
</body>

</html>